<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>DTUSat | Indrapportering af satellitkoordinater</title>
	<link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" />
	</head>
<body>

<div class="wrap">
	<div class="header">
		<div class="title">
			<h1><a href="#">DTUSat</a></h1>
			<h2>Indrapportering af satellitkoordinater</h2>
		</div>
	</div>

	<div class="login">
		<%flash.each do |f|%><div class='flash-<%=f[0]%>'><%=f[1]%></div><%end%>
		<%= yield %>
	</div>
	<div class="footer"><p><a href="http://www.dtusat.dtu.dk/">DTUSat's Hjemmeside</a></p>
	</div>
</div>

</body>
</html>
