<div>
	<label for="command_address">address</label>
	<input type="text" name="arguments[]" id="command_address"/>
	<p>Address to jump to.</p>
</div>

<div>
	<label for="command_argument">argument</label>
	<input type="text" name="arguments[]" id="command_argument"/>
	<p>The function is expected to have the type int func(int)</p>
</div>
