<h2>Scripts</h2>

<table class="list">
	<tr>
		<th>Filnavn</th>
		<th>Execute</th>
		<th>Slet</th>
		<th>Oprettet</th>
	</tr>
	
	<% @scripts.each do |s|%>
		<tr>
			<td>
				<strong><%= link_to s.filename, edit_script_path(s)%></strong>
			</td>
			<td>
				<%= link_to 'Execute!', "", :confirm => "Er du sikker?"%>
			</td>
			<td>
				<%= link_to 'S', script_path(s), :method => 'DELETE', :confirm => "Er du sikker?"%>
			</td>
			<td>
				<%= s.created_at.strftime("%d/%m/%Y")%>
			</td>
		</tr>
	<% end %>
</table>
